.share {
  display: flex;
  align-items: center;
}

.share {
  border: none;
  padding: 0;
  background: none;
  color: inherit;
}

.share:hover {
  cursor: pointer;
}

.share__icon {
  font-size: 1.5em;
  margin-right: 0.25em;
}
