.radio-button-group {
  font-size: 1rem;
  --radio-button-group__primary-color: black;
  --radio-button-group__disabled-color: lightgrey;
  --radio-button-group__text: var(--detail-font);
  --radio-button-group__selected-text: var(--detail-font__emphasis);
  --radio-button-group__border-width: var(--border-width);
  display: flex;
  align-items: center;
}

.radio-button-group--clickable {
  color: var(--radio-button-group__primary-color);
}

.radio-button-group--disabled {
  color: var(--radio-button-group__disabled-color);
}

.radio-button-group__heading--visible {
  font: var(--radio-button-group__text);
  white-space: pre-line;
  margin: 0;
  margin-right: 0.5em;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-button-group__heading--hidden {
  /* Visible only to screen readers: https://www.w3.org/WAI/tutorials/forms/labels/#hiding-the-label-element */
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
}

.radio-button-group__label {
  display: flex;
  align-items: center;
  padding: 0.2em 1em;
  font: var(--radio-button-group__text);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-button-group--clickable .radio-button-group__label:hover {
  cursor: pointer;
}

.radio-button-group__label--selected {
  font: var(--radio-button-group__selected-text);
  cursor: default !important;
  border-style: solid;
  border-width: var(--radio-button-group__border-width);
  border-radius: 1em;
}

.radio-button-group--disabled .radio-button-group__label--selected {
  border-color: var(--radio-button-group__disabled-color);
}

.radio-button-group__input {
  display: none;
}
