.option {
  display: block;
  font-size: var(--detail-font__size);
}

.option--focused {
  background-color: lightgrey;
}

.sr-option {
  color: unset;
  text-decoration: unset;
}

.search-option {
  cursor: pointer;
  border-top: var(--border);
}

.sr-option,
.search-option {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3.3em;
}

.sr-option__icon {
  color: green;
  width: 2em;
  height: 2em;
  margin: 0 0.5em;
  border-radius: 1em;
}

.search-option__icon {
  background-color: grey;
  width: 2em;
  height: 2em;
  margin: 0 0.5em;
  border-radius: 1em;
}

.sr-option__name {
  font: var(--detail-font__emphasis);
}

.sr-option__members,
.search-option {
  font: var(--detail-font);
}
