.nav {
  display: grid;
  position: fixed;
  height: var(--nav-bar-height);
  width: 100%;
  padding: 0 1.5rem;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  z-index: 1;
  background-color: var(--mid-weak);
}

.main {
  position: absolute;
  top: var(--nav-bar-height);
  height: calc(100% - var(--nav-bar-height));
  width: 100%;
  overflow: auto;
  background-color: var(--back);
}
