.card {
  flex-basis: 36.6rem;
  height: fit-content;
}

.card__image {
  height: auto;
  width: 100%;
}

.card__text {
  margin: 1.5rem 1.5rem 0.5rem;
}
.card__details {
  font-size: 1.6rem;
}

.card__subreddit {
  font-weight: bold;
}

.card__title {
  font-size: 2.6rem;
  font-weight: bold;
  margin: 1.5rem 0;
}
.card__stats {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}
