.card {
  padding: 0.75rem;
  --card__border-radius: 1.5rem;
}

.card__image {
  display: block;
  width: 100%;
  border-radius: var(--card__border-radius) var(--card__border-radius) 0 0;
}

.card__body {
  padding: 1.3rem 1.5rem;
  border-radius: 0 0 var(--card__border-radius) var(--card__border-radius);
  background-color: var(--mid-weak);
}

.card__details {
  font: var(--detail-font);
  color: var(--front-weak);
}

.card__author {
  font: var(--detail-font__emphasis);
}

.card__subreddit {
  font: var(--detail-font__emphasis);
  color: unset;
  text-decoration: unset;
  position: relative;
  z-index: 1;
}

.card__title {
  font: var(--title-font);
  color: var(--front);
  margin: 0.6em 0;
  max-height: calc(
    var(--title-font__size) * var(--title-font__line-height) * 3
  );
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card__link {
  color: unset;
  text-decoration: unset;
}

.card__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.card__stats {
  display: flex;
  justify-content: space-between;
  font: var(--detail-font);
  color: var(--front-weak);
}

.card__comments,
.card__score {
  display: flex;
  align-items: center;
}

.card__icon {
  font-size: 1.5em;
  margin-right: 0.25em;
}

/* 1 columns*/
@media (min-width: 320px) {
  .card {
    width: 100%;
  }
}

/* 2 columns*/
@media (min-width: 480px) {
  .card {
    width: 50%;
  }
}

/* 3 columns*/
@media (min-width: 768px) {
  .card {
    width: 33.333%;
  }
}

/* 4 columns */
@media (min-width: 1080px) {
  .card {
    width: 25%;
  }
}

/* 5 columns */
@media (min-width: 1600px) {
  .card {
    width: 20%;
  }
}
