@import url("https://fonts.googleapis.com/css?family=Open+Sans:400|Work+Sans:400,600");

.app {
  /* Default dark theme
     See [data-theme="light"] below for light theme
  */
  --back: hsl(120 4% 11%);
  --back-transparent: hsla(120 4% 8% / 0.9);
  --mid-weak: hsl(120 9% 16%);
  --mid: hsl(120 7% 21%);
  --front-weak: hsl(120 15% 88%);
  --front: white;
  --accent: hsl(120 39% 41%);

  --nav-bar-height: 6rem;

  --border-width: 0.1rem;
  --border: var(--border-width) solid black;

  --title-font__size: 2.2rem;
  --title-font__line-height: 1.15;
  --title-font: 400 var(--title-font__size) / var(--title-font__line-height)
      "Work Sans",
    sans-serif;

  --body-font__size: 1.6rem;
  --body-font__line-height: 1.5;
  --body-font: 400 var(--body-font__size) / var(--body-font__line-height)
      "Open Sans",
    sans-serif;

  --detail-font__size: 1.3rem;
  --detail-font__line-height: 1.15;
  --detail-font: 400 var(--detail-font__size) / var(--detail-font__line-height)
      "Work Sans",
    sans-serif;
  --detail-font__emphasis: 600 var(--detail-font__size) /
      var(--detail-font__line-height) "Work Sans",
    sans-serif;
}

[data-light-theme="true"] {
  --back: white;
  --back-transparent: hsla(120 4% 8% / 0.9);
  --mid-weak: hsl(120 15% 88%);
  --mid: hsl(120 12% 96%);
  --front-weak: hsl(120 7% 21%);
  --front: hsl(120 9% 16%);
  --accent: hsl(120 39% 41%);
}

.app {
  height: 100%;
}
