.app {
  --base-unit: 1rem;

  --nav-bar-height: 6rem;
  --border-width: 0.1rem;

  --title-font__size: 2.4em;
  --title-font__line-height: 1.15;
  --title-font: 600 var(--title-font__size) / var(--title-font__line-height)
    sans-serif;

  --body-font__size: 1.8em;
  --body-font__line-height: 1.15;
  --body-font: 400 var(--body-font__size) / var(--body-font__line-height)
    sans-serif;

  --detail-font__size: 1.4em;
  --detail-font__line-height: 1.15;
  --detail-font: 400 var(--detail-font__size) / var(--detail-font__line-height)
    sans-serif;
  --detail-font__emphasis: 600 1em / var(--detail-font__line-height) sans-serif;
}

.app {
  height: 100%;
  font-size: var(--base-unit);
}
