.menu {
  font: var(--body-font);
  display: flex;
  justify-content: flex-end;
}

.menu__button {
  color: var(--front);
  font-size: 1.5em;
}

.menu__button:hover {
  cursor: pointer;
}

.menu__underlay {
  position: absolute;
  top: 0;
}

.menu__underlay-nav-placeholder {
  height: var(--nav-bar-height);
}

.menu__list {
  margin: 0;
  padding: 0;
  width: 15em;
  display: flex;
  flex-direction: column;
  background-color: var(--mid-weak);
  border-radius: 0 0 1.5rem 1.5rem;
}

.menu__list-item {
  display: block;
  padding: var(--body-font__size);
}

.menu__link {
  font: var(--body-font);
  color: var(--front);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.menu__list-icon {
  color: var(--front);
  font-size: 1.5em;
  margin-right: 0.5em;
}
