.menu {
  font: var(--body-font);
  display: flex;
  justify-content: flex-end;
}

.menu__button:hover {
  cursor: pointer;
}

.menu__list {
  position: absolute;
  top: 4.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 14em;
  height: 10em;
  background: white;
  border: 1px solid black;
}

.menu__list-item {
  display: block;
}
