.search {
  position: relative;
}

.search__form {
  display: flex;
  align-items: center;
  font: var(--detail-font);
  box-sizing: content-box;
  height: 2em;
  background-color: whitesmoke;
  border: var(--border-width) solid whitesmoke;
  border-radius: 1.1em;
}

.search__form:hover,
.search__form--focused {
  border: var(--border);
  background-color: white;
}

.search__form--dropdown {
  border-radius: 1.1em 1.1em 0 0;
}

.search__icon {
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.25em;
  border-radius: 0.75em;
  background-color: lightgrey;
}

.search__input {
  background-color: transparent;
  border: none;
  outline: none;
  height: 2em;
  flex-grow: 1;
  padding: 0 0 0 1em;
}

.search__input::-webkit-search-cancel-button {
  display: none;
}

.search__clear {
  display: none;
  border: none;
  background-color: transparent;
  padding: 0 1em;
}

.search__form:hover .search__clear,
.search__form--focused .search__clear {
  display: block;
}

.search__clear:hover {
  cursor: pointer;
}
