.search {
  position: relative;
}

.search__form {
  display: flex;
  align-items: center;
  font: var(--detail-font);
  height: 2em;
  background-color: var(--mid);
  border-radius: 1em;
}

.search__form:hover,
.search__form--focused {
  background-color: var(--back);
}

.search__form--dropdown {
  border-radius: 1em 1em 0 0;
}

.search__icon {
  display: flex;
  align-items: center;
  color: var(--front-weak);
  font-size: 1.5em;
  margin-left: 0.25em;
}

.search__input {
  color: var(--front-weak);
  background-color: transparent;
  border: none;
  outline: none;
  height: 2em;
  flex-grow: 1;
  padding: 0 0 0 1em;
}

.search__form:hover .search__input,
.search__form--focused .search__input {
  color: var(--front);
}

.search__input::placeholder {
  color: var(--front-weak);
}

.search__input::-webkit-search-cancel-button {
  display: none;
}

.search__clear {
  color: var(--front);
  display: none;
  border: none;
  background-color: transparent;
  padding: 0 1em;
}

.search__form:hover .search__clear,
.search__form--focused .search__clear {
  display: block;
}

.search__clear:hover {
  cursor: pointer;
}
