.nav {
  font-size: var(--base-unit);
  display: grid;
  position: fixed;
  height: var(--nav-bar-height);
  width: 100%;
  border-bottom: 1px solid black;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
}

.nav__headings {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__homepage {
  display: flex;
  color: unset;
  text-decoration: unset;
}

.nav__logo {
  width: 4rem;
  height: 4rem;
  background-color: green;
  border-radius: 2rem;
  margin: 1rem;
}

.nav__title {
  font: var(--title-font);
}

.nav__location {
  font: var(--body-font);
  flex-grow: 1;
  text-align: center;
}

.nav__location-link {
  color: unset;
  text-decoration: unset;
}

.menu {
  font: var(--body-font);
  text-align: right;
}
