.nav {
  display: grid;
  position: fixed;
  height: var(--nav-bar-height);
  width: 100%;
  border-bottom: var(--border);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  z-index: 1;
}
