.gallery {
  position: relative;
  --button-diameter: 5rem;
}

.gallery__list {
  list-style: none;
  padding: unset;
  margin: unset;
  position: relative;
  width: 100%;
  height: calc(100vh - var(--nav-bar-height) - 16rem);
  display: flex;
  align-items: center;
}

.gallery__item {
  position: absolute;
  display: flex;
  justify-content: center;
}

.gallery__item.hidden {
  left: 100%;
}

.gallery__item.focused {
  left: 0;
  width: 100%;
}

.gallery__image {
  max-width: 100%;
  object-fit: contain;
  max-height: calc(100vh - var(--nav-bar-height) - 16rem);
}

.gallery__previous,
.gallery__next {
  padding: 0;
  border: none;
  border-radius: calc(var(--button-diameter) / 2);
  width: var(--button-diameter);
  height: var(--button-diameter);
  background-color: var(--back-transparent);
  color: var(--front);
  position: absolute;
  top: calc(50% - (var(--button-diameter) / 2));
}

.gallery__previous {
  left: calc(var(--button-diameter) / 4);
}

.gallery__next {
  right: calc(var(--button-diameter) / 4);
}

.gallery__previous:hover,
.gallery__next:hover {
  cursor: pointer;
}

.gallery__icon {
  color: var(--front);
  font-size: 3rem;
  margin-top: 0.1rem;
}

.gallery__previous .gallery__icon {
  margin-right: 0.1rem;
}

.gallery__next .gallery__icon {
  margin-left: 0.1em;
}
