.gallery {
  position: relative;
  --button-diameter: 4rem;
}

.gallery__list {
  list-style: none;
  padding: unset;
  margin: unset;
  position: relative;
  width: 100%;
  height: calc(100vh - var(--nav-bar-height) - 16rem);
  display: flex;
  align-items: center;
}

.gallery__item {
  position: absolute;
  display: flex;
  justify-content: center;
}

.gallery__item.hidden {
  left: 100%;
}

.gallery__item.focused {
  left: 0;
  width: 100%;
}

.gallery__image {
  max-width: 100%;
  object-fit: contain;
  max-height: calc(100vh - var(--nav-bar-height) - 16rem);
}

.gallery__previous,
.gallery__next {
  padding: 0;
  border: none;
  border-radius: calc(var(--button-diameter) / 2);
  width: var(--button-diameter);
  height: var(--button-diameter);
  background-color: var(--back-transparent);
  color: var(--front);
  position: absolute;
  top: calc(50% - (var(--button-diameter) / 2));
}

[data-light-theme="true"] .gallery__previous,
[data-light-theme="true"] .gallery__next {
  color: var(--back);
}

.gallery__previous {
  left: calc(var(--button-diameter) / 4);
}

.gallery__next {
  right: calc(var(--button-diameter) / 4);
}

.gallery__previous:hover,
.gallery__next:hover {
  cursor: pointer;
}

.gallery__previous:disabled,
.gallery__next:disabled {
  cursor: default;
  color: var(--mid);
}

[data-light-theme="true"] .gallery__previous:disabled,
[data-light-theme="true"] .gallery__next:disabled {
  color: var(--front-weak);
}

.gallery__icon {
  font-size: 2.5rem;
  margin-top: 0.25rem;
}

.gallery__previous .gallery__icon {
  margin-right: 0.15rem;
}

.gallery__next .gallery__icon {
  margin-left: 0.15em;
}

.gallery__position {
  font: var(--detail-font);
  color: var(--front);
  background-color: var(--back-transparent);
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  width: 4em;
  position: absolute;
  bottom: 1em;
  left: calc(50% - (2em));
}
