.search-dropdown {
  position: absolute;
  width: 100%;
  background-color: var(--mid-weak);
  border: var(--border);
  border-top: none;
}

.search-dropdown__options {
  margin: 0;
  padding: 0;
}

.option {
  display: block;
  font: var(--detail-font);
  color: var(--front);
}

.option--focused {
  background-color: var(--mid);
}

.search-option {
  cursor: pointer;
  border-top: var(--border);
}

.sr-option,
.search-option {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3.3em;
}

.search-option__icon {
  background-color: var(--front-weak);
  width: 2em;
  height: 2em;
  margin: 0 0.5em;
  border-radius: 1em;
}
