.search-dropdown {
  background-color: white;
  border: var(--border);
}

.subreddit {
  display: flex;
}

.search-dropdown__search {
  cursor: pointer;
}

.subreddit--focused,
.search-dropdown__search--focused {
  background-color: red;
}
