.sr-option {
  color: unset;
  text-decoration: unset;
}

.sr-option__icon {
  color: var(--accent);
  width: 2em;
  height: 2em;
  margin: 0 0.5em;
  border-radius: 1em;
}

.sr-option__name {
  font: var(--detail-font__emphasis);
}

.sr-option__members {
  color: var(--front-weak);
}
