.loading-overlay {
  position: absolute;
  top: var(--nav-bar-height);
  height: calc(100% - var(--nav-bar-height));
  width: 100%;
  overflow: auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--back-transparent);
}

.loading-overlay__text {
  font: var(--title-font);
  color: var(--front);
}

[data-light-theme="true"] .loading-overlay__text {
  color: var(--back);
}
