.post-container {
  width: 90rem;
  margin: 0 auto;
  padding: 2rem;
  border: var(--border);
}

@media screen and (max-width: 900px) {
  .post-container {
    width: 100%;
  }
}

/* Start of CSS intended for modal display */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.post-container--modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  height: 100%;
  overflow-y: scroll;
}
/* End of CSS intended for modal display */

.post {
  border: var(--border);
  margin-bottom: 2rem;
}

.post__image-container {
  display: flex;
  justify-content: center;
}

.post__image {
  max-width: 100%;
  max-height: 78rem;
}

.post__body {
  padding: 1rem;
}
.post__title {
  font: var(--title-font);
  margin: 0.6em 0;
}

.post__text {
  font: var(--body-font);
  margin-bottom: 0.8em;
}

.post__details,
.post__stats-and-cta {
  font: var(--detail-font);
}

.post__subreddit {
  font: var(--detail-font__emphasis);
  color: unset;
  text-decoration: unset;
}

.post__stats-and-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments__no-comments {
  font: var(--title-font);
  width: fit-content;
  margin: 4em auto calc(4em - 2rem);
}
