.post-container {
  width: 90rem;
  margin: 0 auto;
  padding: 2rem;
}

@media screen and (max-width: 900px) {
  .post-container {
    width: 100%;
  }
}

/* Start of CSS intended for modal display */
.overlay {
  position: fixed;
  top: var(--nav-bar-height);
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--back-transparent);
}

.post-container--modal {
  position: fixed;
  top: var(--nav-bar-height);
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
}
/* End of CSS intended for modal display */

.post-container {
  background-color: var(--back);
}

.post {
  margin-bottom: 2rem;
  background-color: var(--mid-weak);
}

.post__image-container {
  display: flex;
  justify-content: center;
  max-height: calc(100vh - var(--nav-bar-height) - 16rem);
}

.post__image {
  max-width: 100%;
  object-fit: contain;
}

.post__body {
  padding: 1rem;
}

.post__title {
  font: var(--title-font);
  color: var(--front);
  margin: 0.6em 0;
}

.post__text {
  font: var(--body-font);
  color: var(--front);
  margin-bottom: 0.8em;
}

.post__text a {
  color: var(--accent);
}

.post__text a:visited {
  color: var(--front-weak);
}

.post__details,
.post__stats-and-cta {
  font: var(--detail-font);
  color: var(--front-weak);
}

.post__subreddit {
  font: var(--detail-font__emphasis);
  color: unset;
  text-decoration: unset;
}

.post__stats-and-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__view-on-reddit {
  text-decoration: unset;
  color: unset;
}

.post__comments,
.post__view-on-reddit {
  display: flex;
  align-items: center;
}

.post__icon {
  font-size: 1.5em;
  margin-right: 0.25em;
}

.comments__no-comments {
  font: var(--title-font);
  color: var(--front);
  width: fit-content;
  margin: 4em auto calc(4em - 2rem);
}
