.post-container {
  font-size: var(--base-unit);
  width: 73rem;
  margin: 0 auto;
  padding: 2em;
  border: 1px black solid;
}

@media screen and (max-width: 730px) {
  .post-container {
    width: 100%;
  }
}

.post {
  /* margin: 1.5em; */
  border: 1px black solid;
}

.post__image-container {
  display: flex;
  justify-content: center;
}

.post__image {
  max-width: 100%;
  max-height: 78rem;
}

.post__body {
  padding: 1em;
}
.post__title {
  font: var(--title-font);
  margin: 0.6em 0;
}

.post__text {
  font: var(--body-font);
  margin-bottom: 0.8em;
}

.post__details,
.post__stats-and-cta {
  font: var(--detail-font);
}

.post__subreddit {
  font: var(--detail-font__emphasis);
  color: unset;
  text-decoration: unset;
}

.post__stats-and-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
