.nav {
  font-size: var(--base-unit);
  display: flex;
  position: fixed;
  height: var(--nav-bar-height);
  width: 100%;
  border-bottom: 1px solid black;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
